body .pbs-check-dma-modal {
  font: normal 100% 'Montserrat';
  background: #fff;
}
body .pbs-check-dma-modal .modalHeader {
  padding: 1.5em;
  color: #fff;
  background: #000;
}
body .pbs-check-dma-modal .modalHeader h2 {
  color: #fff;
  text-transform: uppercase;
}
body .pbs-check-dma-modal .station_list {
  width: 100%;
  color: #000;
}
body .pbs-check-dma-modal .station_list span.station-item {
  float:left;
  padding: 2% 7%;
  text-align: center;
  width: 50%;
}
body .pbs-check-dma-modal .station_list span.station-item img {
  margin: 0 auto;

}
body .pbs-check-dma-modal .station_list span.station-item span.mailing-city-state {
  display:inline-block;
  text-transform: uppercase;
  margin: 0 auto;
}

body .pbs-check-dma-modal div.responseArea {
  clear: both;
  color: #000;
  padding: 1.5em 0;
}
body .pbs-check-dma-modal .responseArea>div {
  padding: 0 1.5em;
  text-align: center; 
}
body .pbs-check-dma-modal .responseArea p button {
  background-color: #008db5;
  color: #fff;
  padding: .75em;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
body .pbs-check-dma-modal .responseArea p span {
  display: inline-block;
  margin: .5em auto;
  font-size: 80%;
}
@media (min-width: 600px) {
  body .pbs-check-dma-modal .station_list span.station-item {
    width: 33%;
  }
  body .pbs-check-dma-modal .responseArea>div {
    width: 50%;
  }
  body .pbs-check-dma-modal .responseArea .left {
    float: left;
    padding-right: .75em;
  }
  body .pbs-check-dma-modal .responseArea .right {
    float: right;
    padding-left: .5em;
  }
}

