.video-wrap.dma-fail {padding: 0;}
.video-wrap.dma-fail img {position: relative;}
.video-wrap.dma-fail .sorry {position: absolute; top: 0; left: 0; width: 45%; height: 100%; background: rgba(0, 0, 0, 0.6);}
.video-wrap.dma-fail .sorry a {color: #fff; text-decoration: underline;}
.video-wrap.dma-fail h3 { font-family: 'Montserrat'; font-size: 1.4em; margin: 0;}
.video-wrap.dma-fail .sorry-txt { top: 50%; transform: translate(0, -50%); position: absolute; width: 100%; padding: 0 1.5em;}
.video-wrap.dma-fail .sorry p {font-size: 1em; line-height: 1.1em;}

body .pbs-check-dma-modal {
  font: normal 100% 'Montserrat';
  background: #fff;
}
body .pbs-check-dma-modal .modalHeader {
  padding: 1.5em;
  color: #fff;
  background: #000;
}
body .pbs-check-dma-modal .modalHeader h2 {
  color: #fff;
  text-transform: uppercase;
}
body .pbs-check-dma-modal .station_list {
  width: 100%;
  color: #000;
}
body .pbs-check-dma-modal .station_list span.station-item {
  float:left;
  padding: 2% 7%;
  text-align: center;
  width: 50%;
}
body .pbs-check-dma-modal .station_list span.station-item img {
  margin: 0 auto;

}
body .pbs-check-dma-modal .station_list span.station-item span.mailing-city-state {
  display:inline-block;
  text-transform: uppercase;
  margin: 0 auto;
}

body .pbs-check-dma-modal div.responseArea {
  clear: both;
  color: #000;
  padding: 1.5em 0;
}
body .pbs-check-dma-modal .responseArea>div {
  padding: 0 1.5em;
  text-align: center; 
}
body .pbs-check-dma-modal .responseArea p button {
  background-color: #008db5;
  color: #fff;
  padding: .75em;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
body .pbs-check-dma-modal .responseArea p span {
  display: inline-block;
  margin: .5em auto;
  font-size: 80%;
}
@media (min-width: 600px) {
  body .pbs-check-dma-modal .station_list span.station-item {
    width: 33%;
  }
  body .pbs-check-dma-modal .responseArea>div {
    width: 50%;
  }
  body .pbs-check-dma-modal .responseArea .left {
    float: left;
    padding-right: .75em;
  }
  body .pbs-check-dma-modal .responseArea .right {
    float: right;
    padding-left: .5em;
  }
    
    
    
    
    
}

@media screen and ( max-width: 900px ) {
    .video-wrap.dma-fail .sorry {width: 100%;}
    .video-wrap.dma-fail .sorry p:last-of-type {margin-bottom: 0;}
    .video-wrap.dma-fail .sorry-txt {padding: 0 3%;}
}

@media screen and ( max-width: 480px ) {
    .video-wrap.dma-fail .sorry h3 {font-size: 1em;}
    .video-wrap.dma-fail .sorry p {font-size: .75em; line-height: 1em;}
}
@media screen and ( min-width: 481px ) and ( max-width: 665px ) {
    .video-wrap.dma-fail .sorry p {font-size: .85em;}
}

@media screen and ( min-width: 666px ) and ( max-width: 900px ) {
    .video-wrap.dma-fail .sorry {width: 80%;  margin: 0 10%;}
}





